In [1]:
import numpy as np
import pandas as pd
import os
import json

In [63]:
data_root_dir = '/media/zadiq/ZHD/datasets/home_credit/'
file_map = {
    'app_train': 'application_train.csv',
    'app_test': 'application_test.csv',
    'bureau': 'bureau.csv',
    'bureau_bal': 'bureau_balance.csv',
    'cc_bal': 'credit_card_balance.csv',
    'ins_pay': 'installment_payments.csv',
    'pc_bal': 'POS_CASH_balance.csv',
    'pre_app': 'previous_application.csv',
    'col_desc': 'HomeCredit_columns_description.csv',
    'clean_app_train': 'clean_app_train.csv',
    'valid_app_col': 'valid_app_columns.json',
    'app_unique_voc': 'application_unique_vocabulary.json',
}


def get_file(name):
    return os.path.join(data_root_dir, file_map[name])


def get_missing_col(data):
    miss_column = data.isnull().sum()
    miss_column = miss_column[miss_column>0]
    return miss_column.sort_values(ascending=False)/data.shape[0] * 100

In [3]:
NOT_PROVIDED = 'NOT_PROVIDED'

---

In [4]:
app_train = pd.read_csv(get_file('app_train'))
app_train.shape

(307511, 122)

In [5]:
app_test = pd.read_csv(get_file('app_test'))
app_test.shape

(48744, 121)

In [6]:
col_desc = pd.read_csv(get_file('col_desc'), encoding = "ISO-8859-1")

In [7]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
app_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

---

## Missing data

In [9]:
# Missing data columns
app_train_m_col = get_missing_col(app_train)
app_test_m_col = get_missing_col(app_test)

In [10]:
app_train_m_col

COMMONAREA_MEDI                 69.872297
COMMONAREA_AVG                  69.872297
COMMONAREA_MODE                 69.872297
NONLIVINGAPARTMENTS_AVG         69.432963
NONLIVINGAPARTMENTS_MODE        69.432963
NONLIVINGAPARTMENTS_MEDI        69.432963
FONDKAPREMONT_MODE              68.386172
LIVINGAPARTMENTS_AVG            68.354953
LIVINGAPARTMENTS_MEDI           68.354953
LIVINGAPARTMENTS_MODE           68.354953
FLOORSMIN_AVG                   67.848630
FLOORSMIN_MEDI                  67.848630
FLOORSMIN_MODE                  67.848630
YEARS_BUILD_AVG                 66.497784
YEARS_BUILD_MEDI                66.497784
YEARS_BUILD_MODE                66.497784
OWN_CAR_AGE                     65.990810
LANDAREA_AVG                    59.376738
LANDAREA_MEDI                   59.376738
LANDAREA_MODE                   59.376738
BASEMENTAREA_MODE               58.515956
BASEMENTAREA_AVG                58.515956
BASEMENTAREA_MEDI               58.515956
EXT_SOURCE_1                    56.381073
NONLIVINGAREA_AVG               55.179164
NONLIVINGAREA_MODE              55.179164
NONLIVINGAREA_MEDI              55.179164
ELEVATORS_MODE                  53.295980
ELEVATORS_MEDI                  53.295980
ELEVATORS_AVG                   53.295980
                                  ...
LIVINGAREA_MEDI                 50.193326
LIVINGAREA_MODE                 50.193326
LIVINGAREA_AVG                  50.193326
HOUSETYPE_MODE                  50.176091
FLOORSMAX_MODE                  49.760822
FLOORSMAX_MEDI                  49.760822
FLOORSMAX_AVG                   49.760822
YEARS_BEGINEXPLUATATION_MEDI    48.781019
YEARS_BEGINEXPLUATATION_MODE    48.781019
YEARS_BEGINEXPLUATATION_AVG     48.781019
TOTALAREA_MODE                  48.268517
EMERGENCYSTATE_MODE             47.398304
OCCUPATION_TYPE                 31.345545
EXT_SOURCE_3                    19.825307
AMT_REQ_CREDIT_BUREAU_YEAR      13.501631
AMT_REQ_CREDIT_BUREAU_QRT       13.501631
AMT_REQ_CREDIT_BUREAU_HOUR      13.501631
AMT_REQ_CREDIT_BUREAU_DAY       13.501631
AMT_REQ_CREDIT_BUREAU_WEEK      13.501631
AMT_REQ_CREDIT_BUREAU_MON       13.501631
NAME_TYPE_SUITE                  0.420148
OBS_30_CNT_SOCIAL_CIRCLE         0.332021
DEF_30_CNT_SOCIAL_CIRCLE         0.332021
OBS_60_CNT_SOCIAL_CIRCLE         0.332021
DEF_60_CNT_SOCIAL_CIRCLE         0.332021
EXT_SOURCE_2                     0.214626
AMT_GOODS_PRICE                  0.090403
AMT_ANNUITY                      0.003902
CNT_FAM_MEMBERS                  0.000650
DAYS_LAST_PHONE_CHANGE           0.000325
Length: 67, dtype: float64

In [11]:
app_test_m_col

COMMONAREA_MODE                 68.716150
COMMONAREA_AVG                  68.716150
COMMONAREA_MEDI                 68.716150
NONLIVINGAPARTMENTS_MEDI        68.412523
NONLIVINGAPARTMENTS_AVG         68.412523
NONLIVINGAPARTMENTS_MODE        68.412523
FONDKAPREMONT_MODE              67.284179
LIVINGAPARTMENTS_MODE           67.249302
LIVINGAPARTMENTS_AVG            67.249302
LIVINGAPARTMENTS_MEDI           67.249302
FLOORSMIN_AVG                   66.605121
FLOORSMIN_MODE                  66.605121
FLOORSMIN_MEDI                  66.605121
OWN_CAR_AGE                     66.289184
YEARS_BUILD_MODE                65.275726
YEARS_BUILD_MEDI                65.275726
YEARS_BUILD_AVG                 65.275726
LANDAREA_MODE                   57.964057
LANDAREA_AVG                    57.964057
LANDAREA_MEDI                   57.964057
BASEMENTAREA_MEDI               56.706466
BASEMENTAREA_MODE               56.706466
BASEMENTAREA_AVG                56.706466
NONLIVINGAREA_AVG               53.512227
NONLIVINGAREA_MODE              53.512227
NONLIVINGAREA_MEDI              53.512227
ELEVATORS_MEDI                  51.676104
ELEVATORS_AVG                   51.676104
ELEVATORS_MODE                  51.676104
WALLSMATERIAL_MODE              49.017315
                                  ...
ENTRANCES_MEDI                  48.373133
ENTRANCES_MODE                  48.373133
ENTRANCES_AVG                   48.373133
LIVINGAREA_MEDI                 48.317742
LIVINGAREA_MODE                 48.317742
LIVINGAREA_AVG                  48.317742
FLOORSMAX_MODE                  47.843837
FLOORSMAX_MEDI                  47.843837
FLOORSMAX_AVG                   47.843837
YEARS_BEGINEXPLUATATION_AVG     46.889874
YEARS_BEGINEXPLUATATION_MODE    46.889874
YEARS_BEGINEXPLUATATION_MEDI    46.889874
TOTALAREA_MODE                  46.413918
EMERGENCYSTATE_MODE             45.562531
EXT_SOURCE_1                    42.122107
OCCUPATION_TYPE                 32.014197
EXT_SOURCE_3                    17.782701
AMT_REQ_CREDIT_BUREAU_YEAR      12.409732
AMT_REQ_CREDIT_BUREAU_QRT       12.409732
AMT_REQ_CREDIT_BUREAU_HOUR      12.409732
AMT_REQ_CREDIT_BUREAU_DAY       12.409732
AMT_REQ_CREDIT_BUREAU_WEEK      12.409732
AMT_REQ_CREDIT_BUREAU_MON       12.409732
NAME_TYPE_SUITE                  1.868948
OBS_30_CNT_SOCIAL_CIRCLE         0.059495
DEF_30_CNT_SOCIAL_CIRCLE         0.059495
OBS_60_CNT_SOCIAL_CIRCLE         0.059495
DEF_60_CNT_SOCIAL_CIRCLE         0.059495
AMT_ANNUITY                      0.049237
EXT_SOURCE_2                     0.016412
Length: 64, dtype: float64

### Investigate minor MD

list of columns with MD in app_train but not in app_test

In [12]:
minor_md = [x for x in list(app_train_m_col.keys()) if x not in list(app_test_m_col.keys())]
minor_md

['AMT_GOODS_PRICE', 'CNT_FAM_MEMBERS', 'DAYS_LAST_PHONE_CHANGE']

list of columns with MD in app_test but not in app_train

In [13]:
[x for x in list(app_test_m_col.keys()) if x not in list(app_train_m_col.keys())]

[]

In [14]:
app_train_m_col.loc[minor_md]

AMT_GOODS_PRICE           0.090403
CNT_FAM_MEMBERS           0.000650
DAYS_LAST_PHONE_CHANGE    0.000325
dtype: float64

In [15]:
app_train[minor_md].head()

   AMT_GOODS_PRICE  CNT_FAM_MEMBERS  DAYS_LAST_PHONE_CHANGE
0         351000.0              1.0                 -1134.0
1        1129500.0              2.0                  -828.0
2         135000.0              1.0                  -815.0
3         297000.0              2.0                  -617.0
4         513000.0              1.0                 -1106.0

Example of column with NaNs

In [16]:
app_train[minor_md[0]][app_train[minor_md[0]].isna()]

724      NaN
5937     NaN
6425     NaN
6703     NaN
7647     NaN
7880     NaN
7995     NaN
10819    NaN
11287    NaN
13008    NaN
14699    NaN
15953    NaN
18935    NaN
19178    NaN
19921    NaN
21193    NaN
21338    NaN
21546    NaN
25391    NaN
26398    NaN
26736    NaN
27003    NaN
28201    NaN
29059    NaN
30164    NaN
30294    NaN
32143    NaN
36250    NaN
36721    NaN
39230    NaN
          ..
278747   NaN
279583   NaN
279997   NaN
281050   NaN
281653   NaN
282002   NaN
282270   NaN
282847   NaN
283159   NaN
285269   NaN
287092   NaN
287347   NaN
289793   NaN
291372   NaN
291384   NaN
292040   NaN
292120   NaN
294136   NaN
295295   NaN
298004   NaN
300107   NaN
302923   NaN
303603   NaN
303621   NaN
304621   NaN
304678   NaN
304784   NaN
305833   NaN
306126   NaN
306273   NaN
Name: AMT_GOODS_PRICE, Length: 278, dtype: float64

In [17]:
col_desc[col_desc['Row'].apply(lambda x: x in minor_md)]

,Unnamed: 0,Table,Row,Description,Special
10,13,application_{train|test}.csv,AMT_GOODS_PRICE,For consumer loans it is the price of the good...,NaN
29,32,application_{train|test}.csv,CNT_FAM_MEMBERS,How many family members does client have,NaN
95,98,application_{train|test}.csv,DAYS_LAST_PHONE_CHANGE,How many days before application did client ch...,NaN
180,183,previous_application.csv,AMT_GOODS_PRICE,Goods price of good that client asked for (if ...,NaN

In [18]:
def calc_harmonic_mean(series, _round=0):
    """
    calc harmonic mean of data column
    """
    mean = series.count()/(1/series).sum()
    return np.around(mean, _round)

    
def calc_col_mean_by_target(data, column, target, use_ar_mean=False, _round=0):
    """
    find the harmonic mean of column 
    in respect to the target.
    """
    # get column data where it is not NaN and target is 0
    series_t0 = data[column][data[target] == 0]
    series_t0 = series_t0[series_t0.isna() == False]
    # get column data where it is not NaN and target is 1
    series_t1 = data[column][data[target] == 1]
    series_t1 = series_t1[series_t1.isna() == False]
    
    # check that total number of series == to column data not NaN count
    total_series_count = series_t0.count() + series_t1.count()
    assert total_series_count == data[column][data[column].isna() == False].count()
    
    if use_ar_mean:
        # use arithmetic mean
        ar_mean_0 = series_t0.mean()
        ar_mean_1 = series_t1.mean()
        return  np.around(ar_mean_0, _round), np.around(ar_mean_1, _round)    
   
    return calc_harmonic_mean(series_t0, _round), calc_harmonic_mean(series_t1, _round)

Compute the harmonic/arithmetic mean for each column in minor_md with respect to target value and fill missing the missing rows for each minor_md column

In [19]:
minor_md_mean = {}
for col in minor_md:
    use_ar_mean = True if col == 'DAYS_LAST_PHONE_CHANGE' else False
    res = calc_col_mean_by_target(app_train, col, 'TARGET', use_ar_mean)
    minor_md_mean[col] = res
minor_md_mean

{'AMT_GOODS_PRICE': (324455.0, 324842.0),
 'CNT_FAM_MEMBERS': (2.0, 2.0),
 'DAYS_LAST_PHONE_CHANGE': (-976.0, -809.0)}

In [20]:
def nan_to_mean(x, col, mean_dict, target):
    return mean_dict[col][int(x[target])]


def replace_nan_with_mean(data, columns, target, mean_dict):
    for c in columns:
        mask = data[c].isna()
        is_nan = data[[c, target]][mask]
        data.loc[mask, c] = is_nan.apply(nan_to_mean, args=(c, mean_dict, target), axis=1)

In [21]:
replace_nan_with_mean(app_train, minor_md, 'TARGET', minor_md_mean)

Confirm that all minor_md NaN have been replaced

In [22]:
app_train[minor_md].isna().any()

AMT_GOODS_PRICE           False
CNT_FAM_MEMBERS           False
DAYS_LAST_PHONE_CHANGE    False
dtype: bool

Example of replaced minor_md

In [23]:
app_train[minor_md].loc[724]

AMT_GOODS_PRICE           324455.0
CNT_FAM_MEMBERS                4.0
DAYS_LAST_PHONE_CHANGE     -2011.0
Name: 724, dtype: float64

In [24]:
app_train[minor_md]

        AMT_GOODS_PRICE  CNT_FAM_MEMBERS  DAYS_LAST_PHONE_CHANGE
0              351000.0              1.0                 -1134.0
1             1129500.0              2.0                  -828.0
2              135000.0              1.0                  -815.0
3              297000.0              2.0                  -617.0
4              513000.0              1.0                 -1106.0
5              454500.0              2.0                 -2536.0
6             1395000.0              3.0                 -1562.0
7             1530000.0              2.0                 -1070.0
8              913500.0              2.0                     0.0
9              405000.0              1.0                 -1673.0
10             652500.0              3.0                  -844.0
11             135000.0              2.0                 -2396.0
12              67500.0              2.0                 -2370.0
13             697500.0              3.0                    -4.0
14             679500.0              2.0                  -188.0
15             247500.0              1.0                  -925.0
16             387000.0              2.0                    -3.0
17             270000.0              3.0                 -2811.0
18             157500.0              1.0                  -239.0
19             454500.0              2.0                 -1850.0
20             427500.0              2.0                  -296.0
21             927000.0              3.0                     0.0
22             450000.0              3.0                  -468.0
23             225000.0              2.0                  -795.0
24             247500.0              4.0                    -4.0
25             225000.0              2.0                     0.0
26             702000.0              1.0                  -161.0
27             270000.0              3.0                    -2.0
28             675000.0              1.0                  -849.0
29             180000.0              1.0                  -599.0
...                 ...              ...                     ...
307481         297000.0              2.0                 -2941.0
307482         472500.0              2.0                  -611.0
307483         225000.0              1.0                 -1775.0
307484         450000.0              2.0                 -1578.0
307485         180000.0              2.0                  -336.0
307486         270000.0              3.0                     0.0
307487         936000.0              2.0                  -846.0
307488         135000.0              1.0                  -610.0
307489         450000.0              2.0                  -307.0
307490         135000.0              1.0                  -439.0
307491         900000.0              4.0                 -1357.0
307492        1575000.0              2.0                     0.0
307493         765000.0              2.0                  -249.0
307494         450000.0              3.0                  -367.0
307495         675000.0              2.0                 -2919.0
307496         337500.0              2.0                  -826.0
307497         193500.0              2.0                 -1344.0
307498        1125000.0              2.0                  -734.0
307499         225000.0              2.0                 -1511.0
307500        1138500.0              2.0                 -1459.0
307501         225000.0              5.0                  -448.0
307502         225000.0              3.0                 -1516.0
307503         247500.0              1.0                 -2315.0
307504         225000.0              1.0                     0.0
307505         225000.0              1.0                     0.0
307506         225000.0              1.0                  -273.0
307507         225000.0              1.0                     0.0
307508         585000.0              1.0                 -1909.0
307509         319500.0              2.0                  -322.0
307510         675000.0              2.0                  -787.0

[307511 rows x 3 columns]

---

Update missing data columns

In [26]:
app_train_m_col = get_missing_col(app_train)

app_train missing columns count should now be 64 (reduced by 3)

In [27]:
app_train_m_col

COMMONAREA_MODE                 69.872297
COMMONAREA_AVG                  69.872297
COMMONAREA_MEDI                 69.872297
NONLIVINGAPARTMENTS_AVG         69.432963
NONLIVINGAPARTMENTS_MODE        69.432963
NONLIVINGAPARTMENTS_MEDI        69.432963
FONDKAPREMONT_MODE              68.386172
LIVINGAPARTMENTS_MODE           68.354953
LIVINGAPARTMENTS_AVG            68.354953
LIVINGAPARTMENTS_MEDI           68.354953
FLOORSMIN_AVG                   67.848630
FLOORSMIN_MODE                  67.848630
FLOORSMIN_MEDI                  67.848630
YEARS_BUILD_MODE                66.497784
YEARS_BUILD_MEDI                66.497784
YEARS_BUILD_AVG                 66.497784
OWN_CAR_AGE                     65.990810
LANDAREA_MODE                   59.376738
LANDAREA_AVG                    59.376738
LANDAREA_MEDI                   59.376738
BASEMENTAREA_MEDI               58.515956
BASEMENTAREA_MODE               58.515956
BASEMENTAREA_AVG                58.515956
EXT_SOURCE_1                    56.381073
NONLIVINGAREA_AVG               55.179164
NONLIVINGAREA_MODE              55.179164
NONLIVINGAREA_MEDI              55.179164
ELEVATORS_AVG                   53.295980
ELEVATORS_MEDI                  53.295980
ELEVATORS_MODE                  53.295980
                                  ...
ENTRANCES_AVG                   50.348768
ENTRANCES_MEDI                  50.348768
ENTRANCES_MODE                  50.348768
LIVINGAREA_MODE                 50.193326
LIVINGAREA_MEDI                 50.193326
LIVINGAREA_AVG                  50.193326
HOUSETYPE_MODE                  50.176091
FLOORSMAX_MODE                  49.760822
FLOORSMAX_AVG                   49.760822
FLOORSMAX_MEDI                  49.760822
YEARS_BEGINEXPLUATATION_MEDI    48.781019
YEARS_BEGINEXPLUATATION_MODE    48.781019
YEARS_BEGINEXPLUATATION_AVG     48.781019
TOTALAREA_MODE                  48.268517
EMERGENCYSTATE_MODE             47.398304
OCCUPATION_TYPE                 31.345545
EXT_SOURCE_3                    19.825307
AMT_REQ_CREDIT_BUREAU_YEAR      13.501631
AMT_REQ_CREDIT_BUREAU_QRT       13.501631
AMT_REQ_CREDIT_BUREAU_HOUR      13.501631
AMT_REQ_CREDIT_BUREAU_DAY       13.501631
AMT_REQ_CREDIT_BUREAU_WEEK      13.501631
AMT_REQ_CREDIT_BUREAU_MON       13.501631
NAME_TYPE_SUITE                  0.420148
OBS_30_CNT_SOCIAL_CIRCLE         0.332021
DEF_30_CNT_SOCIAL_CIRCLE         0.332021
OBS_60_CNT_SOCIAL_CIRCLE         0.332021
DEF_60_CNT_SOCIAL_CIRCLE         0.332021
EXT_SOURCE_2                     0.214626
AMT_ANNUITY                      0.003902
Length: 64, dtype: float64

---

## Investigate bottom 7 columns with MD

Comments:

- NAME_TYPE_SUITE: categorical, generate "not_provided" category
- AMT_ANNUITY: numerical, use harmonic mean by target
- OBS_30_CNT_SOCIAL_CIRCLE: numerical, use arithmetic mean by target
- DEF_30_CNT_SOCIAL_CIRCLE: numerical, use arithmetic mean by target
- OBS_60_CNT_SOCIAL_CIRCLE: numerical, use arithmetic mean by target
- DEF_60_CNT_SOCIAL_CIRCLE: numerical, use arithmetic mean by target
- EXT_SOURCE_2: numerical, use arithmetic mean by target

In [28]:
# NAME_TYPE_SUITE missing data
nts_nan_mask = app_train['NAME_TYPE_SUITE'].isna()
app_train['NAME_TYPE_SUITE'][nts_nan_mask]

64        NaN
724       NaN
1199      NaN
1669      NaN
1862      NaN
2271      NaN
2625      NaN
2650      NaN
3012      NaN
3050      NaN
3371      NaN
3718      NaN
4063      NaN
4193      NaN
4240      NaN
4338      NaN
4428      NaN
4669      NaN
4749      NaN
4876      NaN
5304      NaN
5786      NaN
5804      NaN
5937      NaN
6425      NaN
6526      NaN
6694      NaN
6703      NaN
6977      NaN
7021      NaN
         ...
302885    NaN
302923    NaN
303042    NaN
303160    NaN
303186    NaN
303250    NaN
303603    NaN
303621    NaN
304196    NaN
304272    NaN
304458    NaN
304565    NaN
304621    NaN
304678    NaN
304688    NaN
304742    NaN
304784    NaN
304979    NaN
305150    NaN
305833    NaN
305862    NaN
306045    NaN
306076    NaN
306126    NaN
306130    NaN
306273    NaN
306544    NaN
306615    NaN
306636    NaN
306725    NaN
Name: NAME_TYPE_SUITE, Length: 1292, dtype: object

In [29]:
app_train.loc[:, 'NAME_TYPE_SUITE'] = app_train['NAME_TYPE_SUITE'].fillna(NOT_PROVIDED)
# Confirm replacement
app_train.loc[:, 'NAME_TYPE_SUITE'][nts_nan_mask]

64        NOT_PROVIDED
724       NOT_PROVIDED
1199      NOT_PROVIDED
1669      NOT_PROVIDED
1862      NOT_PROVIDED
2271      NOT_PROVIDED
2625      NOT_PROVIDED
2650      NOT_PROVIDED
3012      NOT_PROVIDED
3050      NOT_PROVIDED
3371      NOT_PROVIDED
3718      NOT_PROVIDED
4063      NOT_PROVIDED
4193      NOT_PROVIDED
4240      NOT_PROVIDED
4338      NOT_PROVIDED
4428      NOT_PROVIDED
4669      NOT_PROVIDED
4749      NOT_PROVIDED
4876      NOT_PROVIDED
5304      NOT_PROVIDED
5786      NOT_PROVIDED
5804      NOT_PROVIDED
5937      NOT_PROVIDED
6425      NOT_PROVIDED
6526      NOT_PROVIDED
6694      NOT_PROVIDED
6703      NOT_PROVIDED
6977      NOT_PROVIDED
7021      NOT_PROVIDED
              ...
302885    NOT_PROVIDED
302923    NOT_PROVIDED
303042    NOT_PROVIDED
303160    NOT_PROVIDED
303186    NOT_PROVIDED
303250    NOT_PROVIDED
303603    NOT_PROVIDED
303621    NOT_PROVIDED
304196    NOT_PROVIDED
304272    NOT_PROVIDED
304458    NOT_PROVIDED
304565    NOT_PROVIDED
304621    NOT_PROVIDED
304678    NOT_PROVIDED
304688    NOT_PROVIDED
304742    NOT_PROVIDED
304784    NOT_PROVIDED
304979    NOT_PROVIDED
305150    NOT_PROVIDED
305833    NOT_PROVIDED
305862    NOT_PROVIDED
306045    NOT_PROVIDED
306076    NOT_PROVIDED
306126    NOT_PROVIDED
306130    NOT_PROVIDED
306273    NOT_PROVIDED
306544    NOT_PROVIDED
306615    NOT_PROVIDED
306636    NOT_PROVIDED
306725    NOT_PROVIDED
Name: NAME_TYPE_SUITE, Length: 1292, dtype: object

In [30]:
bottom_md_numeric_ha = ['AMT_ANNUITY']
bottom_md_numeric_ar = ['OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
                        'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
                        'EXT_SOURCE_2'
                       ]
bottom_md_numeric = bottom_md_numeric_ha + bottom_md_numeric_ar

In [31]:
bottom_md_numeric_mean = {}
for col in bottom_md_numeric:
    use_ar_mean = True if col in bottom_md_numeric_ar else False
    _round = 16 if col == 'EXT_SOURCE_2' else 0
    res = calc_col_mean_by_target(app_train, col, 'TARGET', use_ar_mean, _round)
    bottom_md_numeric_mean[col] = res
bottom_md_numeric_mean

{'AMT_ANNUITY': (20081.0, 20626.0),
 'OBS_30_CNT_SOCIAL_CIRCLE': (1.0, 1.0),
 'DEF_30_CNT_SOCIAL_CIRCLE': (0.0, 0.0),
 'OBS_60_CNT_SOCIAL_CIRCLE': (1.0, 1.0),
 'DEF_60_CNT_SOCIAL_CIRCLE': (0.0, 0.0),
 'EXT_SOURCE_2': (0.5234786690184223, 0.4109349069691116)}

In [32]:
replace_nan_with_mean(app_train, bottom_md_numeric, 'TARGET', bottom_md_numeric_mean)

Confirm replacement

In [33]:

app_train[bottom_md_numeric].isna().any()

AMT_ANNUITY                 False
OBS_30_CNT_SOCIAL_CIRCLE    False
DEF_30_CNT_SOCIAL_CIRCLE    False
OBS_60_CNT_SOCIAL_CIRCLE    False
DEF_60_CNT_SOCIAL_CIRCLE    False
EXT_SOURCE_2                False
dtype: bool

---

Update missing data columns

counts should now be 57

In [34]:
app_train_m_col = get_missing_col(app_train)

In [35]:
app_train_m_col

COMMONAREA_AVG                  69.872297
COMMONAREA_MODE                 69.872297
COMMONAREA_MEDI                 69.872297
NONLIVINGAPARTMENTS_AVG         69.432963
NONLIVINGAPARTMENTS_MODE        69.432963
NONLIVINGAPARTMENTS_MEDI        69.432963
FONDKAPREMONT_MODE              68.386172
LIVINGAPARTMENTS_MODE           68.354953
LIVINGAPARTMENTS_AVG            68.354953
LIVINGAPARTMENTS_MEDI           68.354953
FLOORSMIN_MEDI                  67.848630
FLOORSMIN_AVG                   67.848630
FLOORSMIN_MODE                  67.848630
YEARS_BUILD_AVG                 66.497784
YEARS_BUILD_MODE                66.497784
YEARS_BUILD_MEDI                66.497784
OWN_CAR_AGE                     65.990810
LANDAREA_MODE                   59.376738
LANDAREA_MEDI                   59.376738
LANDAREA_AVG                    59.376738
BASEMENTAREA_MEDI               58.515956
BASEMENTAREA_AVG                58.515956
BASEMENTAREA_MODE               58.515956
EXT_SOURCE_1                    56.381073
NONLIVINGAREA_MODE              55.179164
NONLIVINGAREA_MEDI              55.179164
NONLIVINGAREA_AVG               55.179164
ELEVATORS_MEDI                  53.295980
ELEVATORS_MODE                  53.295980
ELEVATORS_AVG                   53.295980
WALLSMATERIAL_MODE              50.840783
APARTMENTS_AVG                  50.749729
APARTMENTS_MODE                 50.749729
APARTMENTS_MEDI                 50.749729
ENTRANCES_AVG                   50.348768
ENTRANCES_MEDI                  50.348768
ENTRANCES_MODE                  50.348768
LIVINGAREA_MEDI                 50.193326
LIVINGAREA_MODE                 50.193326
LIVINGAREA_AVG                  50.193326
HOUSETYPE_MODE                  50.176091
FLOORSMAX_AVG                   49.760822
FLOORSMAX_MEDI                  49.760822
FLOORSMAX_MODE                  49.760822
YEARS_BEGINEXPLUATATION_MODE    48.781019
YEARS_BEGINEXPLUATATION_AVG     48.781019
YEARS_BEGINEXPLUATATION_MEDI    48.781019
TOTALAREA_MODE                  48.268517
EMERGENCYSTATE_MODE             47.398304
OCCUPATION_TYPE                 31.345545
EXT_SOURCE_3                    19.825307
AMT_REQ_CREDIT_BUREAU_HOUR      13.501631
AMT_REQ_CREDIT_BUREAU_DAY       13.501631
AMT_REQ_CREDIT_BUREAU_WEEK      13.501631
AMT_REQ_CREDIT_BUREAU_MON       13.501631
AMT_REQ_CREDIT_BUREAU_QRT       13.501631
AMT_REQ_CREDIT_BUREAU_YEAR      13.501631
dtype: float64

---

## Investigate other categorical columns with MD

In [36]:
categorical_col = [
    'NAME_CONTRACT_TYPE',
    'CODE_GENDER',
    'FLAG_OWN_CAR',
    'FLAG_OWN_REALTY',
    'NAME_TYPE_SUITE',
    'NAME_INCOME_TYPE',
    'NAME_EDUCATION_TYPE',
    'NAME_FAMILY_STATUS',
    'NAME_HOUSING_TYPE',
    'FLAG_MOBIL',
    'FLAG_EMP_PHONE',
    'FLAG_WORK_PHONE',
    'FLAG_CONT_MOBILE',
    'FLAG_PHONE',
    'FLAG_EMAIL',
    'OCCUPATION_TYPE',
    'REGION_RATING_CLIENT',
    'REGION_RATING_CLIENT_W_CITY',
    'WEEKDAY_APPR_PROCESS_START',
    'REG_REGION_NOT_LIVE_REGION',
    'REG_REGION_NOT_WORK_REGION',
    'LIVE_REGION_NOT_WORK_REGION',
    'REG_CITY_NOT_LIVE_CITY',
    'REG_CITY_NOT_WORK_CITY',
    'LIVE_CITY_NOT_WORK_CITY',
    'ORGANIZATION_TYPE',
    'FONDKAPREMONT_MODE',  # CONSIDER
    'HOUSETYPE_MODE',  # CONSIDER
    'WALLSMATERIAL_MODE',  # CONSIDER
    'EMERGENCYSTATE_MODE',  # CONSIDER
    'FLAG_DOCUMENT_2',
    'FLAG_DOCUMENT_3',
    'FLAG_DOCUMENT_4',
    'FLAG_DOCUMENT_5',
    'FLAG_DOCUMENT_6',
    'FLAG_DOCUMENT_7',
    'FLAG_DOCUMENT_8',
    'FLAG_DOCUMENT_9',
    'FLAG_DOCUMENT_10',
    'FLAG_DOCUMENT_11',
    'FLAG_DOCUMENT_12',
    'FLAG_DOCUMENT_13',
    'FLAG_DOCUMENT_14',
    'FLAG_DOCUMENT_15',
    'FLAG_DOCUMENT_16',
    'FLAG_DOCUMENT_17',
    'FLAG_DOCUMENT_18',
    'FLAG_DOCUMENT_19',
    'FLAG_DOCUMENT_20',
    'FLAG_DOCUMENT_21',  
]

In [37]:
other_cat_col_md = list(get_missing_col(app_train[categorical_col]).keys())
other_cat_col_md

['FONDKAPREMONT_MODE',
 'WALLSMATERIAL_MODE',
 'HOUSETYPE_MODE',
 'EMERGENCYSTATE_MODE',
 'OCCUPATION_TYPE']

Fill NaN with "not_provided"

In [38]:
for col in other_cat_col_md:
    app_train.loc[:, col] = app_train[col].fillna(NOT_PROVIDED)

---

In [39]:
app_train_m_col = get_missing_col(app_train)

In [40]:
print("%d columns with missing data" % app_train_m_col.count())

52 columns with missing data

---

## Sort columns

In [41]:
app_train.set_index('SK_ID_CURR', inplace=True)

In [42]:
vc_mask = pd.notna(app_train).all()
valid_columns = list(vc_mask[vc_mask].keys())
valid_columns

['TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_2',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21']

In [43]:
print("%d valid columns, including TARGET" % len(valid_columns))

69 valid columns, including TARGET

In [44]:
t_ix = valid_columns.index('TARGET')
target_col = valid_columns[t_ix]
valid_cat_col = [c for c in categorical_col if c in valid_columns]
valid_num_col = [c for c in valid_columns if c not in valid_cat_col]
valid_num_col.remove(target_col)

In [45]:
assert len([target_col] + valid_cat_col + valid_num_col) == len(valid_columns)

In [46]:
valid_num_col

['CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'CNT_FAM_MEMBERS',
 'HOUR_APPR_PROCESS_START',
 'EXT_SOURCE_2',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE']

In [47]:
valid_cat_col

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21']

In [55]:
unique_for_col = {}
for col in valid_cat_col:
    unique_for_col[col] = list(app_train[valid_cat_col][col].unique())
unique_for_col

{'NAME_CONTRACT_TYPE': ['Cash loans', 'Revolving loans'],
 'CODE_GENDER': ['M', 'F', 'XNA'],
 'FLAG_OWN_CAR': ['N', 'Y'],
 'FLAG_OWN_REALTY': ['Y', 'N'],
 'NAME_TYPE_SUITE': ['Unaccompanied',
  'Family',
  'Spouse, partner',
  'Children',
  'Other_A',
  'NOT_PROVIDED',
  'Other_B',
  'Group of people'],
 'NAME_INCOME_TYPE': ['Working',
  'State servant',
  'Commercial associate',
  'Pensioner',
  'Unemployed',
  'Student',
  'Businessman',
  'Maternity leave'],
 'NAME_EDUCATION_TYPE': ['Secondary / secondary special',
  'Higher education',
  'Incomplete higher',
  'Lower secondary',
  'Academic degree'],
 'NAME_FAMILY_STATUS': ['Single / not married',
  'Married',
  'Civil marriage',
  'Widow',
  'Separated',
  'Unknown'],
 'NAME_HOUSING_TYPE': ['House / apartment',
  'Rented apartment',
  'With parents',
  'Municipal apartment',
  'Office apartment',
  'Co-op apartment'],
 'FLAG_MOBIL': [1, 0],
 'FLAG_EMP_PHONE': [1, 0],
 'FLAG_WORK_PHONE': [0, 1],
 'FLAG_CONT_MOBILE': [1, 0],
 'FLAG_PHONE': [1, 0],
 'FLAG_EMAIL': [0, 1],
 'OCCUPATION_TYPE': ['Laborers',
  'Core staff',
  'Accountants',
  'Managers',
  'NOT_PROVIDED',
  'Drivers',
  'Sales staff',
  'Cleaning staff',
  'Cooking staff',
  'Private service staff',
  'Medicine staff',
  'Security staff',
  'High skill tech staff',
  'Waiters/barmen staff',
  'Low-skill Laborers',
  'Realty agents',
  'Secretaries',
  'IT staff',
  'HR staff'],
 'REGION_RATING_CLIENT': [2, 1, 3],
 'REGION_RATING_CLIENT_W_CITY': [2, 1, 3],
 'WEEKDAY_APPR_PROCESS_START': ['WEDNESDAY',
  'MONDAY',
  'THURSDAY',
  'SUNDAY',
  'SATURDAY',
  'FRIDAY',
  'TUESDAY'],
 'REG_REGION_NOT_LIVE_REGION': [0, 1],
 'REG_REGION_NOT_WORK_REGION': [0, 1],
 'LIVE_REGION_NOT_WORK_REGION': [0, 1],
 'REG_CITY_NOT_LIVE_CITY': [0, 1],
 'REG_CITY_NOT_WORK_CITY': [0, 1],
 'LIVE_CITY_NOT_WORK_CITY': [0, 1],
 'ORGANIZATION_TYPE': ['Business Entity Type 3',
  'School',
  'Government',
  'Religion',
  'Other',
  'XNA',
  'Electricity',
  'Medicine',
  'Business Entity Type 2',
  'Self-employed',
  'Transport: type 2',
  'Construction',
  'Housing',
  'Kindergarten',
  'Trade: type 7',
  'Industry: type 11',
  'Military',
  'Services',
  'Security Ministries',
  'Transport: type 4',
  'Industry: type 1',
  'Emergency',
  'Security',
  'Trade: type 2',
  'University',
  'Transport: type 3',
  'Police',
  'Business Entity Type 1',
  'Postal',
  'Industry: type 4',
  'Agriculture',
  'Restaurant',
  'Culture',
  'Hotel',
  'Industry: type 7',
  'Trade: type 3',
  'Industry: type 3',
  'Bank',
  'Industry: type 9',
  'Insurance',
  'Trade: type 6',
  'Industry: type 2',
  'Transport: type 1',
  'Industry: type 12',
  'Mobile',
  'Trade: type 1',
  'Industry: type 5',
  'Industry: type 10',
  'Legal Services',
  'Advertising',
  'Trade: type 5',
  'Cleaning',
  'Industry: type 13',
  'Trade: type 4',
  'Telecom',
  'Industry: type 8',
  'Realtor',
  'Industry: type 6'],
 'FONDKAPREMONT_MODE': ['reg oper account',
  'NOT_PROVIDED',
  'org spec account',
  'reg oper spec account',
  'not specified'],
 'HOUSETYPE_MODE': ['block of flats',
  'NOT_PROVIDED',
  'terraced house',
  'specific housing'],
 'WALLSMATERIAL_MODE': ['Stone, brick',
  'Block',
  'NOT_PROVIDED',
  'Panel',
  'Mixed',
  'Wooden',
  'Others',
  'Monolithic'],
 'EMERGENCYSTATE_MODE': ['No', 'NOT_PROVIDED', 'Yes'],
 'FLAG_DOCUMENT_2': [0, 1],
 'FLAG_DOCUMENT_3': [1, 0],
 'FLAG_DOCUMENT_4': [0, 1],
 'FLAG_DOCUMENT_5': [0, 1],
 'FLAG_DOCUMENT_6': [0, 1],
 'FLAG_DOCUMENT_7': [0, 1],
 'FLAG_DOCUMENT_8': [0, 1],
 'FLAG_DOCUMENT_9': [0, 1],
 'FLAG_DOCUMENT_10': [0, 1],
 'FLAG_DOCUMENT_11': [0, 1],
 'FLAG_DOCUMENT_12': [0, 1],
 'FLAG_DOCUMENT_13': [0, 1],
 'FLAG_DOCUMENT_14': [0, 1],
 'FLAG_DOCUMENT_15': [0, 1],
 'FLAG_DOCUMENT_16': [0, 1],
 'FLAG_DOCUMENT_17': [0, 1],
 'FLAG_DOCUMENT_18': [0, 1],
 'FLAG_DOCUMENT_19': [0, 1],
 'FLAG_DOCUMENT_20': [0, 1],
 'FLAG_DOCUMENT_21': [0, 1]}

In [62]:
voc_unique_col = {k: v for k, v in unique_for_col.items() if type(v[0]) is str}
voc_unique_col

{'NAME_CONTRACT_TYPE': ['Cash loans', 'Revolving loans'],
 'CODE_GENDER': ['M', 'F', 'XNA'],
 'FLAG_OWN_CAR': ['N', 'Y'],
 'FLAG_OWN_REALTY': ['Y', 'N'],
 'NAME_TYPE_SUITE': ['Unaccompanied',
  'Family',
  'Spouse, partner',
  'Children',
  'Other_A',
  'NOT_PROVIDED',
  'Other_B',
  'Group of people'],
 'NAME_INCOME_TYPE': ['Working',
  'State servant',
  'Commercial associate',
  'Pensioner',
  'Unemployed',
  'Student',
  'Businessman',
  'Maternity leave'],
 'NAME_EDUCATION_TYPE': ['Secondary / secondary special',
  'Higher education',
  'Incomplete higher',
  'Lower secondary',
  'Academic degree'],
 'NAME_FAMILY_STATUS': ['Single / not married',
  'Married',
  'Civil marriage',
  'Widow',
  'Separated',
  'Unknown'],
 'NAME_HOUSING_TYPE': ['House / apartment',
  'Rented apartment',
  'With parents',
  'Municipal apartment',
  'Office apartment',
  'Co-op apartment'],
 'OCCUPATION_TYPE': ['Laborers',
  'Core staff',
  'Accountants',
  'Managers',
  'NOT_PROVIDED',
  'Drivers',
  'Sales staff',
  'Cleaning staff',
  'Cooking staff',
  'Private service staff',
  'Medicine staff',
  'Security staff',
  'High skill tech staff',
  'Waiters/barmen staff',
  'Low-skill Laborers',
  'Realty agents',
  'Secretaries',
  'IT staff',
  'HR staff'],
 'WEEKDAY_APPR_PROCESS_START': ['WEDNESDAY',
  'MONDAY',
  'THURSDAY',
  'SUNDAY',
  'SATURDAY',
  'FRIDAY',
  'TUESDAY'],
 'ORGANIZATION_TYPE': ['Business Entity Type 3',
  'School',
  'Government',
  'Religion',
  'Other',
  'XNA',
  'Electricity',
  'Medicine',
  'Business Entity Type 2',
  'Self-employed',
  'Transport: type 2',
  'Construction',
  'Housing',
  'Kindergarten',
  'Trade: type 7',
  'Industry: type 11',
  'Military',
  'Services',
  'Security Ministries',
  'Transport: type 4',
  'Industry: type 1',
  'Emergency',
  'Security',
  'Trade: type 2',
  'University',
  'Transport: type 3',
  'Police',
  'Business Entity Type 1',
  'Postal',
  'Industry: type 4',
  'Agriculture',
  'Restaurant',
  'Culture',
  'Hotel',
  'Industry: type 7',
  'Trade: type 3',
  'Industry: type 3',
  'Bank',
  'Industry: type 9',
  'Insurance',
  'Trade: type 6',
  'Industry: type 2',
  'Transport: type 1',
  'Industry: type 12',
  'Mobile',
  'Trade: type 1',
  'Industry: type 5',
  'Industry: type 10',
  'Legal Services',
  'Advertising',
  'Trade: type 5',
  'Cleaning',
  'Industry: type 13',
  'Trade: type 4',
  'Telecom',
  'Industry: type 8',
  'Realtor',
  'Industry: type 6'],
 'FONDKAPREMONT_MODE': ['reg oper account',
  'NOT_PROVIDED',
  'org spec account',
  'reg oper spec account',
  'not specified'],
 'HOUSETYPE_MODE': ['block of flats',
  'NOT_PROVIDED',
  'terraced house',
  'specific housing'],
 'WALLSMATERIAL_MODE': ['Stone, brick',
  'Block',
  'NOT_PROVIDED',
  'Panel',
  'Mixed',
  'Wooden',
  'Others',
  'Monolithic'],
 'EMERGENCYSTATE_MODE': ['No', 'NOT_PROVIDED', 'Yes']}

In [64]:
with open(get_file('app_unique_voc'), 'w') as uav:
    json.dump(voc_unique_col, uav)

Save new csv data with cleaned data

In [104]:
app_train[valid_columns].to_csv(get_file('cleaned_app_train'))

In [ ]:
with open(get_file('valid_app_col'), 'w') as vac:
    json.dump({
        'numerical': valid_num_col,
        'categorical': valid_cat_col
    }, vac)

---

__Acronym:__

MD: Missing Data